body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.profile-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 40px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

img {
  width: 150px;
  aspect-ratio: 1;
  padding: 7px;
  border-radius: 100%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    opacity 0.3s ease-in-out; /* Smooth transition */
}

img:hover {
  transform: scale(1.1); /* Enlarge image on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
  opacity: 0.8; /* Slight transparency */
}

i {
  font-size: 20px;
  margin-left: 5px;
  margin-top: 3px; /* Adjust to your preferred size */
}

.profile-card h1,
.profile-card h2,
.profile-card p {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: blue;
}
